runtime:
  threads: 4

logging:
  level: info

telemetry:
  url: http://localhost:4317/v1/metrics
  id: netgauze-udpnotif-telemetry
  exporter_timeout: 3000
  reader_interval: 60000
  reader_timeout: 3000

udp_notif:
  subscriber_timeout: 100
  listeners:
    - address: "[::]:10000"
      workers: 2

  publishers:
    group1:
      buffer_size: 1000
      enrichment:
        inputs:
          files:
            poll_interval_seconds: 10
            paths:
              - path: assets/inputs/files/yang-push-upserts.jsonl
                format: !YangPushUpserts
          kafka:
            consumers:
              - topic: sonata
                message_format: !Sonata
                weight: 64 # default: 64
                consumer_config:
                  bootstrap.servers: localhost:49092
                  group.id: taarole8-rocky8-avro
                  enable.auto.commit: "false"
                  auto.offset.reset: earliest
      custom_yang_schemas:
        "::/0":
          content_id: ietf-telemetry-message-FANO-19-SUB-53
          yanglib_path: assets/yang/ietf-telemetry-message-FANO-19-SUB-53/extended-schemas/yanglib.xml
          search_dir: assets/yang/ietf-telemetry-message-FANO-19-SUB-53/extended-schemas
      endpoints:
        # json-endpoint: !TelemetryKafkaJson
        #   topic: telemetry-message-json
        #   producer_config:
        #     bootstrap.servers: localhost:49092
        #     message.timeout.ms: "60000"
        #     queue.buffering.max.messages: "1000"
        #   writer_id: coll-netgauze-telemetry-json
        yang-endpoint: !TelemetryKafkaYang
          topic: telemetry-message-yang
          schema_registry_url: http://localhost:48081
          producer_config:
            bootstrap.servers: localhost:49092
            message.timeout.ms: "60000"
            queue.buffering.max.messages: "1000"
          writer_id: coll-netgauze-telemetry-yang
          yang_converter:
            subject_prefix: daisy.dev
            root_schema_name: ietf-telemetry-message
            root_schema:
              content_id: ietf-telemetry-message-ROOT
              yanglib_path: assets/yang/ietf-telemetry-message/yanglib.xml
              search_dir: assets/yang/ietf-telemetry-message/schemas
