runtime:
  threads: 4

logging:
  level: info

telemetry:
  url: http://localhost:4317/v1/metrics
  exporter_timeout: 3000
  reader_interval: 60000
  reader_timeout: 3000

udp_notif:
  subscriber_timeout: 100
  listeners:
    - address: 0.0.0.0:10000
      workers: 2

  publishers:
    group1:
      buffer_size: 1000
      custom_yang_schemas:
        192.168.100.0/24:
          content_id: FANO
          search_dir: assets/yang/FANO/models
          yanglib: assets/yang/FANO/yanglib.json
          schema: assets/yang/FANO/supplied-schema.json
        10.10.10.1/24:
          content_id: E96CB84D-F02B-4FBF-BE86-3580300CD964
          search_dir: assets/yang/E96CB84D-F02B-4FBF-BE86-3580300CD964/models
          yanglib: assets/yang/E96CB84D-F02B-4FBF-BE86-3580300CD964/yanglib.json
          schema: assets/yang/E96CB84D-F02B-4FBF-BE86-3580300CD964/supplied-schema.json
      endpoints:
        json-endpoint: !TelemetryKafkaJson
          topic: telemetry-message-json
          producer_config:
            bootstrap.servers: localhost:49092
            message.timeout.ms: "60000"
            queue.buffering.max.messages: "1000"
          writer_id: test-udpnotif-telemetry # TODO: not considered yet, discuss...
        yang-endpoint: !TelemetryKafkaYang
          topic: telemetry-message-yang
          schema_registry_url: http://localhost:48081
          producer_config:
            bootstrap.servers: localhost:49092
            message.timeout.ms: "60000"
            queue.buffering.max.messages: "1000"
          writer_id: test-udpnotif-telemetry # TODO: not considered yet, discuss...
          yang_converter:
            root_schema: "assets/yang/yang-push-telemetry-message/supplied-schema.json"
