lints.workspace = true

[package]
name = "netgauze-yang-push"
version = "0.9.0"
edition = "2024"
authors = ["Ahmed Elhassany <a.hassany@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/NetGauze/NetGauze"
homepage = "https://github.com/NetGauze/NetGauze"
description = """
YANG-Push related functionality
"""
keywords = ["yang-push", "netconf", "yang", "parser"]
categories = ["network-programming"]


[dependencies]
netgauze-udp-notif-pkt = { workspace = true }
netgauze-udp-notif-service = { workspace = true }
netgauze-netconf-proto = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
strum_macros = { workspace = true }
chrono = { workspace = true, default-features = true, features = ["serde"] }
tokio = { workspace = true, default-features = false }
tracing = { workspace = true }
opentelemetry = { workspace = true, features = ["metrics", "trace", "logs"] }
either = { workspace = true }
async-channel = { workspace = true }
yang4 = { workspace = true }
rustc-hash = { workspace = true }
quick-xml = { workspace = true }
futures-util = { workspace = true }
russh = { workspace = true }
bytes = { workspace = true }

[dev-dependencies]
tracing-test = { workspace = true }
tempfile = { workspace = true }
tracing-subscriber = { workspace = true }
