lints.workspace = true

[package]
name = "netgauze-yang-push"
version = "0.8.0"
edition = "2024"
authors = ["Ahmed Elhassany <a.hassany@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/NetGauze/NetGauze"
homepage = "https://github.com/NetGauze/NetGauze"
description = """
YANG-Push related functionality
"""
keywords = ["yang-push", "netconf", "yang", "parser"]
categories = ["network-programming"]
build = "build.rs"


[dependencies]
netgauze-udp-notif-pkt = { workspace = true }
netgauze-netconf-proto = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
chrono = { workspace = true, default-features = true, features = ["serde"] }
shadow-rs = { workspace = true, features = ["default", "metadata", "build"]  }
tokio = { workspace = true, features = ["full", "tracing", "rt-multi-thread"] }
tracing = { workspace = true }
opentelemetry = { workspace = true, features = ["metrics", "trace", "logs"] }
bytes = { workspace = true }
sysinfo = { workspace = true }
either = { workspace = true }
ciborium = { workspace = true }
async-channel = { workspace = true }
anyhow = { workspace = true }
yang3 = { workspace = true }
ipnet = { workspace = true, features = ["serde"] }
quick-xml = { workspace = true, features = ["serialize", "async-tokio"] }

[build-dependencies]
shadow-rs = { workspace = true, default-features = true }

[dev-dependencies]
tracing-subscriber = { workspace = true }
tracing-test = { workspace = true }
